{% extends 'base.html' %}
{% block title %}Add Category{% endblock %}
{% block contents %}
    {% if user.is_authenticated %}
        <h1>Add Category...</h1>
        <form action="" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary" type="submit">Post</button>
            </div>
        </form>
    {% else %}
        You are not allowed to see this page until you login.
    {% endif %}
{% endblock %}