{% extends 'base.html' %}
{% block title %}Setiawan's blog{% endblock %}
{% block contents %}
    <h1>Post</h1>
    <ul>
        {% for post in object_list %}
            <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
                - <a href="{% url 'category' post.category %}">{{ post.category }}</a>
                - {{ post.author.first_name }}
                {{ post.author.last_name }} - {{ post.post_date }} - <a
                        href="{% url 'update_post' post.pk %}">(Edit) </a>
                <a href="{% url 'delete_post' post.pk %}">(Delete) </a>
                <br>
                {{ post.author.email }}
                <br>
                {{ post.body | slice:200 }}</li>
        {% endfor %}
    </ul>
{% endblock %}